<h1>Welcome to My Props</h1>

<h2>Here you can create your own list of 
properties that you are interested in. </h2>
<br>
<p>Register the properties you are keeping an eye 
on without having to sift through all the different 
agents or other websites. 

<br><br>

Never have to constantly favourite or search for those
properties that you were thinking about again. 
<br>
Keep all your potentials in one private list.

</p>



