// Place all the styles related to the props controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.form .container {
    position: relative;
    width: 50%;
    border-bottom: red, 5px, solid;
    display: inline-block;
    
}

.field .form-group {
    font-family: 'Galada', cursive;
    font-size: 28px;

}

#lisDets li{
   
    display: inline;
}

#cardbot {
    text-align: justify;
}